@use 'src/stylesheet/vars' as *;

@mixin window {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.desktop {
  &-window {
    @include window;
    @include flex-display(row, 50px);
  }

  &-icon {
    flex-basis: calc(42.9%);
    height: auto;
    @include flex-display(column, null, center, flex-end);
    padding-right: 40px;

    &__box {
      @include flex-display(column, 28px, null, center);

      &::after {
        content: 'Finance App';
        @include font-type(null, 30px, 1.5);
      }
    }
  }

  &-form {
    flex-basis: calc(57.1%);
    height: auto;
    background-color: var(--bg-blur);
    backdrop-filter: blur(25px);
    @include flex-display(column, null, center, flex-start);
    padding-left: 107px;

    &__box {
      width: 100%;
      max-width: 534px;
      border-radius: 20px;
      background-color: var(--bg-elements);
      padding: 40px 60px 60px;
      @include flex-display(column, 60px, null, center);
    }

    &__logo {
      width: 40px;
      height: 40px;
    }
  }
}

.tablet {
  &-window {
    @include window;
    @include flex-display(column, 50px, null, center);
    padding: 60px 118px 48px;
  }

  &-icon__box {
    width: 534px;
    @include flex-display(row, 40px, flex-start, center);

    &::after {
      content: 'Finance App';
      @include font-type(null, 30px, 1.5);
    }
  }

  &-form {
    height: auto;
    width: 100%;
    @include flex-display(column, null, center, center);
  }
}

.mobile {
  &-window {
    @include window;
  }

  &-form {
    height: 100%;
    min-height: 100vh;
    @include flex-display(column, null, center);
    background-color: var(--bg-blur);
    backdrop-filter: blur(25px);
    @include flex-display(column, null, null, center);
  }
}
