@import 'normalize.css';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
