@use 'src/stylesheet/vars' as *;

.window {
  width: 100%;
  height: auto;
  min-height: 100vh;
  @include flex-display(row);
}

.leftSide {
  flex-basis: calc(50%);
  height: auto;
}

.rightSide {
  flex-basis: calc(50%);
  height: auto;
  background-color: var(--bg-blur);
  backdrop-filter: blur(25px);
}
