:root {
  // text:
  --text: black;

  // background:
  --bg-primary: #e7eaf2;
  --bg-blur: rgba(255, 255, 255, 0.4);
  --bg-elements: #fff;

  // icon:
  --icon-elipse1: #c5baff;
  --icon-elipse2: #ffd8d0;
  --icon-logo: #4a56e2;
  --icon-nonactive: #e0e0e0;
}
